.video {
    display: flex;
    justify-content:;
    padding: 5px 0 5px 0;
}

.video-info {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.video-title {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.video-description {
    padding-top: 5px;
}

.video-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 600px) {
    .video {
        display: flex;
    }
}